{% extends 'base.html' %}
 
{% block content %}
<h1>Профиль</h1>

{% if user.photo %}
    <img class="rounded" src="{{ user.thumbnail.url }}" alt="">
{% else %}
    <img class="rounded" src="{{ default_image }}">
{% endif %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="invalid-feedback">
        {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% for f in form %}
        {% if f.name == 'date_birth' %}
            {% include 'include/date_field.html' %}
        {% elif f.name == 'photo' %}
            {% include 'include/file_input.html' with field=f %}
        {% else %}
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label form-check-label" for="{{ f.id_for_label }}">{{ f.label_tag }}</label>
                {{ f }}
                <div class="invalid-feedback">
                    {% for error in f.errors %}
                        <p class="mb-0">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

    {% endfor %}
    <button class="btn btn-success" type="submit">Сохранить</button>
</form>

{% if perms.users.change_psw_perm %}
<hr>
<p ><a href="{% url 'users:password_change' %}">Сменить пароль</a></p>
{% endif %}

{% endblock %}