{% if comment.children.all %}
    {% for child in comment.children.all %}
        <div class="ms-5">
            <p class="mt-2 text-dark">
                <img class="rounded-circle" width="30" src="{{ child.author.thumbnail.url }}">
                <span class="fw-bold">{{ child.author.username }}</span>
                <span class="text-secondary">{{ child.created|timesince }} назад</span>
            </p>
            {% include 'women/includes/comment_edit.html' with comment=child reply=True %}
        </div>
        {% include 'women/post/comment_item.html' with comment=child %}
    {% endfor %}
{% endif %}