{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}
{% include 'women/search/form_search.html' %}

{% if query %}
	<h2>Посты по вашему запросу "{{ query }}"</h2>
    <h4>
		{% with posts.count as total_results %}
		Найдено {{ total_results }}
		{{ total_results|pluralize_ru:"результат,результата,результатов" }}
		{% endwith %}
	</h4>
{% endif %}

<div class="row row-cols-1 row-cols-md-3 g-4">
	{% for p in posts %}
    	<div class="col">
    		<div class="card h-100 shadow-sm">
        		<div class="card-header bg-light">
        			<div class="d-flex justify-content-between align-items-center small">
          				<span>Категория: {{ p.cat }}</span>
          				<span>{{ p.time_update|date:"d.m.Y H:i:s" }}</span>
        			</div>
					<div class="text-muted small mt-1">
						Автор: {{ p.author.username|default:"неизвестен" }}
					</div>
      			</div>

      			<div class="card-body">
        			<h5 class="card-title">{{ p.title }}</h5>

        			{% if p.photo %}
        				<div class="mb-3 text-center">
							<img
								src="{{ p.thumbnail.url }}"
								class="img-fluid rounded"
								alt="{{ p.title }}"
								style="max-height: 200px; object-fit: cover;">
        				</div>
					{% else %}
					    <div class="mb-3 text-center">
							<img
								src="{% static 'women/images/placeholder300.jpg' %}"
								class="img-fluid rounded"
								alt="Нет фотографии"
								style="max-height: 200px; object-fit: cover;">
        				</div>
        			{% endif %}

        			<div class="card-text">
          				{% autoescape off %}
							{{ p.content|linebreaks|truncatewords:40 }}
						{% endautoescape %}
        			</div>
      			</div>

      			<div class="card-footer bg-white border-0 py-3">
        			<div class="d-flex justify-content-between align-items-center">
          				<div>
            				<a href="{{ p.get_absolute_url }}" class="btn btn-sm btn-outline-primary">
              					Читать пост
            				</a>
							{% if perms.women.change_women %}
							<a href="{% url 'edit_post' p.slug %}" class="btn btn-sm btn-outline-success">
              					Редактировать пост
            				</a>
							{% endif %}
							{% if perms.women.delete_women %}
							<a href="{% url 'delete_post' p.slug %}" class="btn btn-sm btn-outline-danger">
              					Удалить пост
            				</a>
							{% endif %}
          				</div>
					</div>
      			</div>
    		</div>
  		</div>
    {% empty %}
		<div class="col-12">
    		<div class="alert alert-info text-center">
      			<p>Нет результатов по вашему запросу. Вернуться к
        		{% if param %}
          			<a href="{% url route_name param %}" class="alert-link">
        		{% else %}
          			<a href="{% url route_name %}" class="alert-link">
        		{% endif %}просмотру статей</a></p>
    		</div>
  		</div>
  	{% endfor %}
</div>
{% endblock %}

{% block navigation %}
<nav class="m-5">
	<ul class="pagination justify-content-center">
		{% if is_paginated %}
			{% if page_obj.has_previous %}
				<li class="page-item">
					<a class="page-link" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
				</li>
			{% endif %}

			{% for p in elided_page_range %}
				{% if page_obj.number == p or p == paginator.ELLIPSIS %}
					<li class="page-item active">
						<span class="page-link">
							{{ p }}
						</span>
					</li>
				{% else %}
					<li class="page-item">
						<a class="page-link" href="?page={{ p }}">{{ p }}</a>
					</li>
				{% endif %}
        	{% endfor %}

			{% if page_obj.has_next %}
				<li class="page-item">
					<a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a>
				</li>
			{% endif %}

		{% endif %}
    </ul>
</nav>
{% endblock %}