{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
{% include 'women/search/form_search.html' %}

{% if query %}
    <h1>
        Посты по вашему запросу "{{ query }}"
    </h1>
    <h3>
        {% with posts.count as total_results %}
            Найдено {{ total_results }}
			{{ total_results|pluralize_ru:"результат,результата,результатов" }}
		{% endwith %}
    </h3>
{% endif %}

<ul class="list-articles">
	{% for p in posts %}
			<li>
				<div class="article-panel">
         			<p class="first">Категория: {{p.cat}} | Автор поста - {{ p.author.username|default:"неизвестен" }} </p>
         			<p class="last">Дата: {{p.time_update|date:"d.m.Y H:i:s"}}</p>
				</div>
				<h2>{{p.title}}</h2>
				{% if p.photo %}
					<p><img class="img-article-left thumb" src="{{ p.thumbnail.url }}"></p>
				{% endif %}
    {% autoescape off %}
	{{ p.content|linebreaks|truncatewords:40 }}
    {% endautoescape %}
			<div class="clear flex">
				<div class="block1">
					<p class="link-read-post"><a href="{{ p.get_absolute_url }}">Читать пост</a></p>
				</div>
				{% if perms.women.change_women %}
				<div class="block2">
					<p class="link-edit-post"><a href="{% url 'edit_post' p.slug %}">Редактировать пост</a></p>
				</div>
				{% endif %}
				{% if perms.women.delete_women %}
				<div class="block3">
					<p class="link-delete-post"><a href="{% url 'delete_post' p.slug %}">Удалить пост</a></p>
				</div>
				{% endif %}
			</div>
			</li>
	{% empty %}
		<p>Нет результатов по вашему запросу. Вернуться к
			{% if param %}
				<a href="{% url route_name param %}">
			{% else %}
				<a href="{% url route_name %}">
			{% endif %}просмотру статей</a></p>
	{% endfor %}
</ul>
{% endblock %}

{% block navigation %}
<nav class="list-pages">
    <ul>
		{% if is_paginated %}
			{% if page_obj.has_previous %}
				<li class="page-num"><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
			{% endif %}
        	{% for p in elided_page_range %}
				{% if page_obj.number == p or p == paginator.ELLIPSIS %}
					<li class="page-num page-num-selected">{{ p }}</li>
				{% else %}
					<li class="page-num"><a href="?page={{ p }}">{{ p }}</a></li>
				{% endif %}
        	{% endfor %}
			{% if page_obj.has_next %}
				<li class="page-num"><a href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
			{% endif %}
		{% endif %}
    </ul>
</nav>
{% endblock %}