<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<p>{{ unknow_var|default:"nothing" }}</p>
<p>{{ menu|first }} {{ menu|last }}</p>
<p>{{ float|add:"50" }}</p>
<p>{{ tpl.2.0 }} {{ tpl|length }}</p>
<p>{{ set|join:" | " }}</p>
<p>{{ dict.key_1|capfirst }}{{ dict.key_2 }}</p>
<p>{{ obj.x }} {{ obj.y }} {{ obj.show_coords }}</p>
<p>{{ "The mAin PagE"|slugify }}</p>
<p>{{ value }}</p>
<h1>{{ title|upper|cut:" " }}</h1>
<p>Известные женщины</p>
</body>
</html>