{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

{% with post.tags.all as tags %}
{% if tags %}
    Теги:
    {% for tag in tags %}
        <span class="badge text-bg-info">
            <a class="fs-6" href="{{ tag.get_absolute_url }}" style="color: white; text-decoration:none;">{{ tag }}</a>
        </span>
	{% endfor %}
{% endif %}
{% endwith %}

<h1>{{post.title}}</h1>


<div class="row">
    <div class="col col-12">
        {% if post.photo %}
	        <img class="float-start me-3 mb-3 rounded" src="{{ post.thumbnail.url }}">
        {% else %}
            <img class="float-start me-3 mb-3 rounded" src="{% static 'women/images/placeholder300.jpg' %}" alt="">
        {% endif %}
        {{ post.content|linebreaks }}
    </div>
</div>


{% if perms.women.change_women %}
	<p class="btn btn-success"><a class="text-decoration-none text-light" href="{% url 'edit_post' post.slug %}">Редактировать</a></p>
{% endif %}

<h2>Похожие статьи</h2>
{% for post in similar_posts %}
    <p class="border-1">
        <a class="text-decoration-none text-warning" href="{{ post.get_absolute_url }}">
            <img width="30" src="{{ post.thumbnail.url }}" alt="{{ post.title }}"> {{ post.title }}</a>
    </p>
{% empty %}
    <span class="text-danger">Похожих постов нет.</span>
{% endfor %}

	{% with comments.count as total_comments %}
        <h2>{{ total_comments }}
            {{ total_comments|pluralize_ru:"комментарий,комментария,комментариев" }}</h2>
    {% endwith %}
	{% for comment in comments %}
        <div>
            <p class="mt-2 text-dark">
                <img class="rounded-circle" width="30" src="{{ comment.author.thumbnail.url }}">
                <span class="fw-bold">{{ comment.author.username }}</span>
                <span class="text-secondary">{{ comment.updated|timesince }} назад</span>
            </p>
            {% include 'women/includes/comment_edit.html' %}
            {% include 'women/post/comment_item.html' %}
        </div>
    {% empty %}
        <span class="text-danger">Комментариев нет</span>
    {% endfor %}

    {% if user.is_authenticated %}
        {% include 'women/includes/comment_form.html' %}
    {% else %}
        <p class="mt-3"><span class="bg-warning">Для написания комментариев
            <a href="{% url 'users:login' %}?next={% url 'post' post.slug %}">авторизуйтесь</a>
            </span>
        </p>
    {% endif %}

{% endblock %}