{% load static %}
{% load women_tags %}
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'women/images/main.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
	<link type="text/css" href="{% static 'women/css/styles.css' %}" rel="stylesheet" />
</head>
<body class="d-flex flex-column min-vh-100">

	{% block mainmenu %}
	<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3f4137;">
	   <div class="container-fluid">
		  <a class="navbar-brand" href="{% url 'home' %}">
			  <img class="rounded-circle" width="50" src="{% static 'women/images/main.ico' %}"/>
		  </a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBasic" aria-controls="navbarBasic" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse show" id="navbarBasic">
			  	  <ul class="navbar-nav me-auto mb-2 mb-xl-0">
				  {% for m in mainmenu %}
			          {% if not forloop.last %}
	                          {% if m.url_name == "add_page" %}
							      {% if perms.women.change_women %}
								      <li class="nav-item">
										  <a class="nav-link text-decoration-none text-warning fs-5 p-3"
											 href="{% url m.url_name %}">{{m.title}}</a>
									  </li>
								  {% endif %}
							  {% else %}
							      <li class="nav-item">
								  	  <a class="nav-link active text-decoration-none text-warning fs-5 p-3"
										 href="{% url m.url_name %}">{{ m.title }}
									  </a>
							   	  </li>
							  {% endif %}
				  	  {% else %}
				  	  </ul>
			          <ul class="navbar-nav mb-2 mb-xl-0">
                      {% if user.is_authenticated %}
						  <form class="d-flex" method="GET" action="{% url 'home' %}">
							  <input class="form-control me-2" type="search" placeholder="Поиск..." aria-label="Search" name="query">
							  <button class="btn btn-outline-success" type="submit">Поиск</button>
						  </form>
                          <li class="nav-item float-right">
							  <a class="nav-link text-decoration-none text-warning fs-5" href="{% url 'users:profile' %}">
								  {% if user.photo %}
								  	<img class="rounded-circle" width="30" src="{{ user.thumbnail.url }}">
								  {% else %}
								  	<img class="rounded-circle" width="30" src="{% static 'users/profile/anonim.png' %}">
								  {% endif %}
								  {{ user.username }}</a>
						  </li>
							<li class="nav-item float-right">
								<form action="{% url 'users:logout' %}" method="post">{% csrf_token %}
									<a href="#" class="nav-link text-decoration-none text-warning fs-5"
									   onclick="parentNode.submit();">Выйти</a>
								</form>
							</li>
						{% else %}
						  <li class="nav-item float-right">
							  <a class="nav-link text-decoration-none text-warning fs-5" href="{% url 'users:login' %}">Войти</a>
						  </li>
						  <li class="nav-item float-right">
							  <a class="nav-link text-decoration-none text-warning fs-5" href="{% url 'users:registration' %}">Регистрация</a>
						  </li>
						{% endif %}
                	</ul>
				      {% endif %}
				{% endfor %}
		  </div>
	   </div>
	</nav>
	{% endblock mainmenu %}

	<div class="container-fluid">
		<div class="row">
			{% block sidebar %}
			<div class="col-sm-2">
				<ul class="list-group my-3 bg-white fs-5">
					{% if cat_selected == 0 %}
					<li class="list-group-item list-group-item-dark">Все категории</li>
					{% else %}
					<li class="list-group-item"><a class="text-decoration-none" href="{% url 'home' %}">Все категории</a></li>
					{% endif %}
					{% show_categories cat_selected %}
				</ul>
				<ul class="list-group list-group-flush fs-5 mb-3">
					<li class="list-group-item">
						<p class="mb-0">Наш канал</p>
						<a href="https://www.youtube.com/channel/UClJzWfGWuGJL2t-3dYKcHTA/playlists" target="_blank">
							<img width="100" src="{% static 'women/images/youtube.png' %}"></a>
					</li>
				</ul>
				{% show_tags %}
			</div>
			{% endblock sidebar %}
			<div class="col-sm-10">
				{% block breadcrumbs %}
					{% include 'include/breadcrumbs.html' %}
				{% endblock breadcrumbs %}

				<div class="container-fluid">
					{% block content %}
					{% endblock content %}
				</div>
				<div class="container-fluid">
					{% block navigation %}
					{% endblock %}
				</div>
			</div>
		</div>
	</div>
	<footer class="text-center">
		{% include 'women/includes/nav.html' %}
		<div class="text-center p-3" style="background-color: #3f4137; color:white;">
			© 2025 Частичное или полное копирование информации с данного сайта для распространения на
				других ресурсах, в том числе и бумажных, строго запрещено.
  		</div>
	</footer>
</body>
</html>